/ApliJuegos/build/
/ApliJuegos/dist/
/ApliJuegos/IMG/
/WEBJuegos/IMG/
/Vista (Listar)/Web Java/nbproject/private/
/Vista (Listar)/Web Java/build/
/Vista (Listar)/WEB Java/nbproject/private/
/Vista (Listar)/WEB Java/build/
/Vista (Listar)/WEB Java/dist/
/Vista (Listar)/WEBMaven/target/
