body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #121212;
  color: #e0e0e0;
}
/* Tema oscuro */
body.dark {
  background-color: #121212;
  color: #e0e0e0;
}

/* Tema claro */
body.light {
  background-color: #f5f5f5;
  color: #222;
}

input, button {
  margin: 5px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
  width: 100%;
}
th, td {
  border: 1px solid #444;
  padding: 6px;
  text-align: center;
}

img.thumbnail {
  max-width: 100px;
  max-height: 100px;
  cursor: pointer;
  border: 1px solid #666;
  border-radius: 4px;
}

#paginationTop, #paginationBottom {
  margin: 10px 0;
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.9);
}
.modal-content {
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 90%;
}
.close {
  position: absolute;
  top: 20px; right: 35px;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}
